.icon-angle-down {
  width: 24px;
  height: 24px;
}

.icon-angle-up {
  width: 24px;
  height: 24px;
}

.icon-calendar {
  width: 24px;
  height: 24px;
}

.icon-cart {
  width: 24px;
  height: 24px;
}

.icon-check-o {
  width: 24px;
  height: 24px;
}

.icon-check {
  width: 24px;
  height: 24px;
}

.icon-chevron-down {
  width: 24px;
  height: 24px;
}

.icon-close {
  width: 24px;
  height: 24px;
}

.icon-cross-big {
  width: 32px;
  height: 32px;
}

.icon-eye {
  width: 24px;
  height: 24px;
}

.icon-facebook-o {
  width: 24px;
  height: 24px;
}

.icon-facebook {
  width: 24px;
  height: 24px;
}

.icon-gear {
  width: 24px;
  height: 24px;
}

.icon-google-plus {
  width: 24px;
  height: 24px;
}

.icon-hamburger {
  width: 24px;
  height: 24px;
}

.icon-instagram {
  width: 24px;
  height: 24px;
}

.icon-love-filled {
  width: 24px;
  height: 24px;
}

.icon-love {
  width: 24px;
  height: 24px;
}

.icon-minus {
  width: 24px;
  height: 24px;
}

.icon-plus {
  width: 24px;
  height: 24px;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.icon-secured {
  width: 24px;
  height: 24px;
}

.icon-signout {
  width: 24px;
  height: 24px;
}

.icon-star {
  width: 24px;
  height: 24px;
}

.icon-tag {
  width: 24px;
  height: 24px;
}

.icon-trash {
  width: 24px;
  height: 24px;
}

.icon-twitter {
  width: 24px;
  height: 24px;
}

.icon-user {
  width: 24px;
  height: 24px;
}

.icon-whatsapp-big {
  width: 32px;
  height: 32px;
}

.icon-whatsapp {
  width: 24px;
  height: 24px;
}

